<div class="media">
    <a class="pull-left" href="mailto:{{ email }}">
        <ts-avatar class="avatar media-object img-rounded" email="{{ email }}">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{ name }}</h4>
        <h5 class="media-heading" ng-if="title">{{ title }}</h5>
        <p><a href="mailto:{{ email }}">{{ email }}</a></p>
    </div>
</div>
