<div class="ts-switch {{$ctrl.class}}">
  <label>{{$ctrl.label}}</label>
  <button id="internalFilter" class="btn apigee-btn ts-switch" ng-click="$ctrl.toggle()"
    ng-class="{'ts-switch-on': $ctrl.switch}">
    <span ng-if="$ctrl.switch">{{$ctrl.onText}}</span>
    <span ng-if="!$ctrl.switch">{{$ctrl.offText}}</span>
  </button>
</div>