<!--<div class="navbar-collapse" collapse="navBarCollapsed">
  <ul class="nav navbar-nav">
  	<li>
      <ts-search class="mobileSearch hidden-sm hidden-md hidden-lg"></ts-search>
    </li>
    <li class="hidden-sm hidden-md hidden-lg">
      <a ng-click="tsAuth.signOut()">Logout</a>
    </li>
    <hr  class="hidden-sm hidden-md hidden-lg mobileNavDivider" />
	  <li>
      <a href="http://community.apigee.com/" title="Apigee Community">Community</a>
    </li>
    <li>
      <a href="http://academy.apigee.com/" title="Apigee Academy">Academy</a>
    </li>
    <li>
      <a href="http://apigee.com/docs/" title="Docs">Docs</a>
    </li>
    <li>
      <a target="_blank" href="http://blog.apigee.com/" title="Blog">Blog</a>
    </li>
    <li class="dropdown" dropdown>
        <a data-target="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
            Resources <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" dropdown-menu role="menu">
            <li><a target="_blank" href="http://blog.apigee.com/" title="Blog">Blog</a></li>
            <li><a target="_blank" href="http://apigee.com/about/resources" title="Videos & eBooks">Videos &amp; eBooks</a></li>
            <li><a target="_blank" href="http://pages.apigee.com/institute.html" title="Apigee Institute">Apigee Institute</a></li>
            <li><a target="_blank" href="http://apigee.com/about/iloveapis-conference" title="I♥APIs Conference">I♥APIs Conference</a></li>
            <li><a target="_blank" href="http://community.apigee.com/enterprise-onboarding" title="Onboarding">Onboarding</a></li>
        </ul>
    </li>
  </ul>
  <div class="hidden-xs hidden-sm navbar-right">
    <ts-auth></ts-auth>
  </div>
</div>-->


<div class="navbar-collapse" uib-collapse="navBarCollapsed">
  <ul class="nav navbar-nav">
    <li class="hidden-sm hidden-md hidden-lg">
      <a ng-click="tsAuth.signOut()">Logout</a>
    </li>
  </ul>
  <div class="hidden-xs navbar-right">
    <ts-auth></ts-auth>
  </div>
</div>
