/* Turn off the sort hints on fooTable grids to ONLY show the current sort column */
.footable > thead > tr > th.footable-sortable > span.footable-sort-indicator {
	display: none;
}

.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator {
		display: inline-block;
}

.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator {
	display: inline-block;
}

.footable > thead > tr > th.footable-sortable > span.footable-sort-indicator:before {
    content: "" !important;
}

.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before {
    content: "\e013" !important;
}

.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before {
    content: "\e012" !important;
}

.footable-row-detail-row {
	border-bottom-style: dashed;
}
	
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
	font-size: 10px;
}