h2, .h2 {
  margin-bottom: @line-height-computed;
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal,
.dl-horizontal dd {
  margin-bottom: (@line-height-computed / 2);
}
