ts-busy {
  @size: @line-height-computed;

  .tsBusy-variant(@size);

  display: block;
  position: relative;
}

.tsBusy-overlay {
  display: none;
  z-index: 1000;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.tsBusy-container {
  &.tsBusy-active {
    .tsBusy-overlay {
      display: block;
    }

    .tsBusy-content {
      opacity: 0.2;
    }
  }
}

.tsBusy-content {
  transition: opacity .15s linear;
}

.tsBusy-spinner {
  @segment-color: @brand-primary;
  @segment-background: fadeout(@segment-color, 70%);

  .absolute-center;

  animation: tsBusy 0.75s linear infinite;

  border-style: solid;
  border-color: @segment-background;
  border-top-color: @segment-color;

  border-radius: 100%;
}

// Size variations
.tsBusy-variant(@size) {
  .tsBusy-spinner {
    height: @size;
    width: @size;

    border-width: floor(@size / 10);
  }
}

.tsBusy-medium {
  @size: (@line-height-computed * 1.5);
  .tsBusy-variant(@size);
}

.tsBusy-large {
  @size: (@line-height-computed * 2);
  .tsBusy-variant(@size);
}

// Animation
@keyframes tsBusy {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
