
<h3 class="grid-header" role="button" ng-click="options.isCollapsed = !options.isCollapsed;">{{title}}<span class="pull-right">:</span></h3>

<div id="gridProductPurchases" ui-grid="gridProductPurchasesOptions" uib-collapse="options.isCollapsed" ui-grid-exporter class="myGrid collapse"></div>
