<ui-view>
  <div class="page-header">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome, {{engage.user.name}}:</h1>

          <h4>
            <button ng-click="engage.gridApi.grid.api.cards.toggle()" class="cards-grid-toggle nonCollapse" uib-tooltip="{{engage.gridApi.grid.api.cards.getTitle()}}"
              tooltip-placement="bottom">
              <i class="fa" ng-class="{'fa-th': !engage.gridApi.grid.api.cards.isActive(), 'fa-list': engage.gridApi.grid.api.cards.isActive()}"></i>
            </button> Your active deals are displayed below.
            <ts-switch id="internalFilter" initial-state="engage.HorizonService.getInternalFilter()" class="pull-right" label="Showing:" on-text="All users" off-text="Only you"></ts-switch>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="content engage-content">
    <div class="row">
      <div class="col-md-12 col-sm-12 eg-grid-container">
        <ts-busy tracker="engage.oppsTracker">
          <div ui-grid="engage.grid" ui-grid-exporter ui-grid-save-state ui-grid-pagination ui-grid-grouping ui-grid-auto-resize ts-materialize-grid
            ts-materialize-grid ui-grid-cards ui-grid-cols-dropdown class="accountListGrid"></div>
        </ts-busy>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <u-trial-users class="panel-grid"></u-trial-users>
      </div>

      <div class="col-md-6 col-sm-12">
        <u-web-activity class="panel-grid"></u-web-activity>
      </div>
    </div>
  </div>
</ui-view>