.material-grid {
  .ui-grid-cell-contents {
    padding: 0;
    line-height: 48px;
  }
  

  .ui-grid-header-cell {
    .ui-grid-cell-contents {
      padding: 0;
      line-height: 26px;
    } 
  }

  .ui-grid-header-viewport {
    height: 46px;
  }

  .ui-grid-header-cell-primary-focus {
    overflow: visible;
  }
  

  .ui-grid-header-cell-label {
    .base-heading-title;

    -webkit-transition: top 0.1s ease-out;
    transition: top 0.1s ease-out;

    position: relative;
    //font-size: 9px;
    
    height: auto;
    //top: 0px;
    top: 10px;

    &.materialized {
      top: 0;
      font-size: 10px;
    }
  }

  .ui-grid-column-menu {
    top: 46px !important;
  }

  .ui-grid-cell {
    line-height: 28px;
  }

  .ui-grid-filter-container{
    padding: 2px 6px;
    position: relative;
    padding: 0px 9px;
    position: relative;
    top: -10px;

    .transparent-input {
      background-color: transparent;
      border: 1px solid transparent;
    }

    input[type="text"].ui-grid-filter-input {
      font-family: Roboto, 'sans-serif';
      font-size: 11px;
      font-weight: normal;
      color: #999999;
      .transparent-input;
      padding-bottom: 2px;
      line-height: 11px;

      &:focus, &.focused, &.hasText {
        outline: none;
        .transparent-input;
        border-bottom: 1px solid #1e2229;
      }
    }

    .ui-grid-filter-button {
      .ui-grid-icon-cancel {
        &:before {
           color: #999999;
           font-size: 12px;
        }
      }
    }
  }

  .sortable {
    .ui-grid-column-menu-button { 
      z-index: 1;
      top: 2px; 
    }

    .ui-grid-icon-angle-down {
      display: none;
      cursor: pointer;
      pointer-events: none; 
    
      &:before {
        font-family: FontAwesome;
        content: "\f0d7";
        color: #1e2229;
        font-size: 12px;
        pointer-events: none; 
      }
    }

    &:hover {
      .ui-grid-icon-angle-down {
        display: block;
      }
    }
  }

  .ts-popover {
    position: absolute;
  }
}

#grid-popover {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3px 6px;
  font-family: @secondary-font;
  font-size: 12px;
  color: white;
  border-radius: 3px;
  border: 1px solid black;
}

.no-more-info {
  font-family: Roboto, 'sans-serif';
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #d9d9d9;
  height: 100px !important;
  line-height: 100px;
  border-bottom: none;
}

.ui-grid-render-container-body {
  border-radius: 10px;
}