.back-link {
  color: #999;
  font-family: 'Roboto';
  font-size: 20px;

  &:hover {
    text-decoration: none;
  }

  &.back-link--with-svg {
    margin: 0 0 5px;
    padding-left: 22px;
    position: relative;

    &:before, &:after {
      display: none;
    }

    &:before {
      background: url('../../../static/arrow.svg') center center no-repeat;
      content: ' ';
      display: block;
      height: 16px;
      position: absolute;
      transform: translate(0%, -50%);
      left: 0%;
      top: 50%;
      width: 16px;
    }

    &:hover {
      &:before {
        filter: hue-rotate(240deg) saturate(5);
      }
    }
  }
}
