.icon-detail {
  position: relative;
  padding-left: 25px;

  &:before {
    // background: #999;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
  }

  &.large-icon:before {
    width: 8px !important;
    height: 8px !important;
  }

  &.icon-detail--positive {
    &:before {
      background: url('../../../static/positive.svg') no-repeat center center;
      height: 20px;
      width: 20px;
    }
  }

  &.icon-detail--equal {
    &:before {
      background: url('../../../static/equal.svg') no-repeat center center;
      height: 20px;
      width: 20px;
    }
  }

  &.icon-detail--user {
    &:before {
      background: url('../../../static/user.svg') no-repeat center center;
      height: 20px;
      width: 20px;
    }
  }

  &.icon-detail--user-green {
    &:before {
      background: url('../../../static/user-green.svg') no-repeat center center;
      height: 20px;
      width: 20px;
    }
  }

  &.icon-detail--user-red {
    &:before {
      background: url('../../../static/user-red.svg') no-repeat center center;
      height: 20px;
      width: 20px;
    }
  }

  &.icon-detail--dot-red, &.icon-detail--dot-low {
    &:before {
      background: #d0021b;
      border-radius: 50%;
      left: 7px;
      height: 6px;
      width: 6px;
    }
  }
  &.icon-detail--dot-low {
    &:before {
      left: 50%;
    }
  }

  &.icon-detail--dot-green {
    &:before {
      background: #3dd0ac;
      border-radius: 50%;
      left: 7px;
      height: 6px;
      width: 6px;
    }
  }

  &.icon-detail--dot-high {
    &:before {
      background: #7ed321;
      border-radius: 50%;
      left: 50%;
      height: 6px;
      width: 6px;
    }
  }

  &.icon-detail--dot-med {
    &:before {
      background: @charts-blue;
      border-radius: 50%;
      left: 50%;
      height: 6px;
      width: 6px;
    }
  }

  &.icon-detail--transparent {
    &:before {
      background: transparent;
    }
  }
}
