<ts-busy tracker="expansionTracker">
  <h3 class="subtitle" ng-click="expansionVisible = !expansionVisible;"
        ng-class="{'underlined': expansionVisible}">
        Expansion Rating        
        <span class="pull-right">
            <i class="fa fa-sort-desc" aria-hidden="true" ng-if="!expansionVisible"></i>
            <i class="fa fa-sort-asc" aria-hidden="true" ng-if="expansionVisible"></i>
        </span>
  </h3>
  <div ng-hide="expansionVisible">
        <div id="gridProductPurchases" ui-grid="gridExpansionRatingOptions" 
                ui-grid-exporter ui-grid-edit ui-grid-cellNav  ui-grid-pagination ui-grid-height 
                ts-materialize-grid class="myGrid"></div>
  </div>
</ts-busy>
