ts-avatar {
  .square(75px);
  display: block;
  overflow: hidden;

  gravatar-image {
    display: block;
  }
}

.navbar ts-avatar {
  .square(@navbar-height - (@navbar-padding-vertical * 2));
  display: inline-block;

  &.pull-left {
    margin-right: 0.5em;
  }

  &.pull-right {
    margin-left: 0.5em;
  }
}
