.ts-select {
  position: relative;
  display: inline-block;
  margin-right: 35px;

  & > div:focus {
    outline: none;
  }

  &:focus {
    outline: none;

    & > div {
      outline: none;
    }
  }

  &.unfocused {
    .tss-content {
      color: #999;

      b { color: #999; }
      
      i { color: #999 !important; }
    }
  }

  .tss-content {
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 12px;
    color: white;
    -webkit-transition: color 0.5s;
    transition: color 0.4s;

    .spacer { margin-left: 10px; }

    b { 
      line-height: 9px;
      color: #fc4c02; 
      font-weight: 400; 
    }

    .fa {
      &.hasValue { color: #fc4c02; }
    }

    &:focus { outline: none; }
  }

  .tss-dropdown {
    min-width: 189px;
    position: absolute;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #d9d9d9;
    z-index: 5;

    ul {
      list-style: none;
      padding: 0;

      li {
        cursor: pointer;
        padding: 10px;        
        font-family: Roboto;
        font-size: 12px;
        font-weight: 600;
        color: #b1b1b1;

        &:hover { background-color: #f3f3f3; }
      }
    }
  }
}