<div class="ts-select" id="tss-{{id}}">
  <div class="tss-content" ng-click="toggleDrop()">
    <ng-transclude></ng-transclude><span ng-show="!!model">: </span>
      <span class="spacer"><b ng-show="!!model">{{parseItem(model)}}</b></span>
    </span>
    <i class="fa fa-caret-down" ng-class="{'fa-caret-up': showDrop, 'hasValue': !!model}" aria-hidden="true"></i>
  </div>
  <div class="tss-dropdown" ng-hide="!showDrop" ng-style="offsetStyle">
    <ul>
      <li ng-click="clickedItem(item)" ng-repeat="item in data" ng-bind="parseItem(item)">
        
      </li>
    </ul>
  </div>
</div>