<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Context Driven CS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <script type="text/javascript" src="//use.typekit.net/ezw2jtl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{%= o.htmlWebpackPlugin.files.chunks.main.entry.replace('.js', '.css') %}">  -->

</head>
<!-- <body ng-app="app" ng-strict-di> -->
<body ng-app="app" ng-strict-di class-on-state>
    <!--[if lt IE 11]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="content">
            <div class="navbar-header navbar-header-apigee">
                <button type="button" class="navbar-toggle" ng-click="navBarCollapsed = !navBarCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="site-header">
                    <a class="navbar-brand navbar-brand-apigee" href="http://apigee.com">
                        <span class="text-hide">Apigee</span>
                        <span class="spacer"></span>
                    </a>
                    <a ui-sref-active="active-header" ui-sref="engage" data-target="#">GTM</a>
                    <a ui-sref-active="active-header" ui-sref="explore" data-target="#">MKT</a>
                    <a ui-sref-active="active-header" ui-sref="customers" data-target="#">CS Context</a>
                    <a ui-sref-active="active-header" ui-sref="kanban" data-target="#">Kanban</a>                    
                </div>
            </div>
            <ts-navbar><ts-navbar>
        </div>
    </nav>
    <div class="container" id="container">
        <div class="row">
            <!--<ts-alerts></ts-alerts>-->
            <div class="col-xs-12 no-padding" ng-cloak>
                <!-- <div class="row"> -->
                    <ui-view></ui-view>
                    <div class="clearfix"></div>
                <!-- </div> -->
                <!-- <div class="clearfix"></div> -->
            </div>
            <!-- <div class="clearfix"></div> -->
        </div>
        <div class="clearfix"></div>
    </div>

    <footer id="main-footer" class="footer">
        <div class="footer-background-container container-fluid">
            <div class="row footer-copyright">
                Copyright &copy; {{currentYear}} Apigee Corp. All rights reserved
            </div>
        </div>
    </footer>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N52333" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
    (function(w, d, s, l, i) {
        var context = {};
        context['gtm.start'] = new Date().getTime();
        context.event = 'gtm.js';
        context['webapp.name'] = "baas";
        if (typeof sessionStorage.apigee_orgName === "string") {
            context['organization.name'] = sessionStorage.apigee_orgName;
            context['organization.type'] = "baas";
        }
        if (typeof sessionStorage.userUUID === "string") {
            context['user.uuid'] = sessionStorage.userUUID;
        }
        if (typeof sessionStorage.apigee_email === "string") {
            context['user.email'] = sessionStorage.apigee_email;
            if (context['user.email'].replace(/[^@]*@/, "").toLowerCase() === "apigee.com") {
                context['user.internal'] = "internal";
            }
        }
        w[l] = w[l] || [];
        w[l].push(context);
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N52333');
    </script>
    <!-- End Google Tag Manager -->

</body>
</html>
