<div class="panel">
  <h1 class="panel-title">Unassociated Trial Users in your Region</h1>

  <div class="panel-content">
    <div id="accountListGrid" ui-grid="uTrialUsers.grid" ui-grid-exporter ui-grid-save-state ui-grid-pagination ui-grid-grouping ui-grid-auto-resize
                         ts-materialize-grid ts-materialize-grid ui-grid-cards ui-grid-cols-dropdown></div>
  </div>
</div>