<div>
  <span ng-click="visibleGridDropdown.visible = !visibleGridDropdown.visible">Columns 
  <i class="fa fa-caret-down" ng-class="{'fa-caret-up': visibleGridDropdown.visible}" aria-hidden="true"></i>
</span>
  <div id="grid-columns-dropdown" class="grid-columns-dropdown" ng-show="visibleGridDropdown.visible">
    <ul>
      <li ng-repeat="col in cols" ng-click="toggleFilter($index);">
        <i ng-class="{active: isActive($index)}"></i>{{col.displayName}}
      </li>
    </ul>
  </div>
</div>