<div id="models-container" class="ts-select">
  <div ng-click="vm.toggleModelsPanel()">
    <div class="tss-content">
      Saved Selections:
      <span class="spacer" title="{{vm.selectedModel.name}}">
        <b ng-show="!!vm.selectedModel">
          <span class="ellipsis">{{vm.selectedModel.name}}</span>
          <span ng-if="vm.gridChanged">*</span>
          <i class="fa fa-caret-down" ng-class="{'fa-caret-up': vm.modelsPanelVisible}"></i>
        </b>
      </span>
    </div>
  </div>

  <div  class="tss-dropdown" ng-show="vm.modelsPanelVisible">
    <div class="tssd-content">
      <div ng-show="vm.displayImport">
        <div class="col-md-7">
          <md-input-container>
            <label></label>
            <input type="text" placeholder="Model Id" ng-model="vm.importId">
          </md-input-container>
        </div>

        
        <button class="btn apigee-btn">Save</button>
        <button ng-click="vm.cancelImport()" class="btn btn-default">Cancel</button>
      </div>

      <div ng-show="vm.displaySave">
        <div class="col-md-7">
          <md-input-container>
            <label></label>
            <input type="text" ng-model="vm.saveName" placeholder="Name">
          </md-input-container>
        </div>

        <button class="btn apigee-btn" ng-click="vm.saveModel(vm.saveName)">Save</button>
        <button ng-click="vm.cancelImport()" class="btn btn-default">Cancel</button>
      </div>

      <div class="pull-right">
        <a class="import-link" ng-hide="vm.displayImport || vm.displaySave" 
           ng-click="vm.displayImport = !vm.displayImport">
          Import
        </a>
        <a class="import-link" ng-show="vm.gridChanged" ng-click="vm.updateModel()">
          Save changes
        </a>
        <a class="" ng-hide="vm.displaySave || vm.displayImport" 
           ng-click="vm.displaySave = !vm.displaySave">
          Save As
        </a>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="models-ul">
      <ul>
        <li class="li-save" ng-click="vm.selectModel({id: 'all', name: 'all', shortdesc: 'All'})" 
            ng-class="{'active-model': vm.selectedModel.id == 'all'}">
          <a class="li-link" href="">All</a>
        </li>
        <li class="li-save" ng-repeat="model in vm.models" 
            ng-class="{'active-model': vm.selectedModel.id == model.id, 'last-public': model.lastPublic}">
          <md-input-container ng-show="model.editing">
            <label></label>
            <input type="text" ng-model="model.tmpShortdesc" />
          </md-input-container>

          <a ng-hide="model.editing" class="li-link" href="" ng-click="vm.selectModel(model)"
              title="{{model.shortdesc}}">
            {{model.shortdesc}}
          </a>

          <span ng-if="vm.selectedModel.id == model.id && vm.gridChanged">*</span>

          <span ng-show="model.editing" class="btn-save" ng-if="model.user_id">
            <a href="" ng-click="model.editing = false"><i class="fa fa-times" aria-hidden="true"></i></a>
            <a href="" ng-click="vm.updateModel(model)"><i class="fa fa-floppy-o"></i></a>
          </span>
          <span class="pull-right" ng-hide="model.editing" ng-if="model.user_id && model.id != vm.getImportingId()">
            <a ng-click="model.editing = !model.editing"><i class="fa fa-pencil-square-o"></i></a>
            <a ng-click="vm.copyShareUrl(model)"><i class="fa fa-share" aria-hidden="true"></i></a>
            <a ng-click="vm.removeModel(model)"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>