.engage {
  body& {
    display: flex;
    flex-direction: column;

    .page-header + .content {
      padding: 0 15px;
    }

    .container {
      @media @desktop {
        overflow: hidden;
      }
    }

    .container, .content {
      flex: 1;
      > .row {
        height: 100%;
        > [class*='col-'] {
          height: 100%;
        }
      }
    }

    .content {
      max-width: 1280px;
      margin: 0 auto;
      width: 100%;
    }

    .panels-container {
      [class*='col-'] {
        .row:first-child {
          margin-bottom: 15px;
        }
      }
    }

    .page-header {
      padding: 10px 0 10px;
      h1 {
        font-weight: 500;
      }
      // .content {
      //   margin-bottom: 15px;
      // }
    }
  }

  .key-panels {
    //min-height: 250px;
  }
}
