.360-login-img {
	width: 300px;
}

.subscription-login, .account-login-authorize {

}
.account-login-authorize {
  float: none;
  margin: 50px auto !important;
  border: #CCCCCC 1px solid;
  border-radius: 3px;
  padding: 20px 40px;
  h2  {
		text-align: center;
		font-weight: 500;
	}
	.page-header.subscription, .subscription h2 {
		margin-top: 0px;
	}
	.subscription h2 {
		font-size: 25px;
		line-height: 40px;
		.apigee-logo {
			font-size: 30px;
		}
	}
	.login { background-color: transparent; }
	.login h2 {
		font-size: 30px;
	}
  .login-msg {
  	p {
  		text-align: justify;
  	}
  	.apigeekMsg {
  		text-align: center;
  	}
		.loginAlertMsg {
  		text-align: center;
			color: red;
  	}
  }
  .loginBtn {
  	margin: 50px auto 20px auto !important;
  	display: block;
  }
  .subscriptionLoginBtns {
  	h2 {

  	}
  	margin: 50px auto 0 auto;
  	display: block;
  	min-width: 300px;
  	button {
  		min-width: 125px;
  	}
  }
}

.btn.btn-primary {
	margin-left: 20px;
	border-radius: 4px;
	min-width: 80px;
}
