<div class="notification">
    <div class="default">
        <i ng-class="type.class">{{type.text}}</i><h4>{{title}}</h4>
        <div class="notificationToggle">
        	<button type="button" class="hidden-xs toggleBtn btn btn-primary" ng-click="isCollapsed = !isCollapsed; toggleBtnText()">{{btnToggleText}} {{buttontext}}</button>
        	<i class="hidden-sm hidden-md hidden-lg material-icons" ng-click="isCollapsed = !isCollapsed; toggleBtnText()">arrow_drop_down</i>
        </div>
    </div>
    <!-- inline style prevents weird resizing behavior -->
    <div collapse="isCollapsed" style="width:100%;" ng-transclude></div>
</div>