div.kanban-list-logo {
	width: 105px;
	height: 105px;
	background-color: white;
	vertical-align: middle;
	text-align: center;
	border-color: darkgray;
	border-width: 1px;
	margin: 5px;
	display: inline-block;
	cursor: pointer;
}
div.kanban-list-popover {
	width: 370px;
	max-height: 500px;
	overflow: auto;
}

.kanban-ul {
	list-style: none;
	min-height: 70px;
	padding: 0;
	width: 100%;
	height: 100%;
	margin: 0;

	li {
		display: inline-block;
		margin: 5px;
		background-color: transparent;

		&.dndDragging {
			.kl-overlay:hover {
				display: none;
			}
		}

		&.dndDraggingSource {
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  		filter: alpha(opacity=30);
  		opacity: 0.3;
		}
	}
}

.kb-list-item {
	display: block;
  height: 70px;
	width: 60px;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #d3d3d3;
}

.dndPlaceholder {
  background-color: rgba(0, 0, 0, 0.3) !important;
	border: 1px solid rgba(0, 0, 0, 0.3) !important;
 	.kb-list-item;
	position: relative;
	margin: 5px;
	-webkit-filter: blur(1px);
  filter: blur(1px);
}

.kanban-list-item {
	.kb-list-item;
	position: relative;
	float: left;
	display: block;

	.kl-overlay {
		width: 100%;
		height: 42px;
		cursor: pointer;
		background-color: transparent;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.2s;
		z-index: 1;

		span {
			display: none;
			width: 50px;
  		font-family: @primary-font;
  		font-size: 12px;
			font-style: italic;
			color: white;

			b {
				font-style: normal;
				font-weight: 600;
			}
		}

		&:hover {
			background-color: rgba(252, 76, 2, 0.9);
			transition: background-color 0.4s;

			span {
				display: inline-block;
			}
		}
	}

	.kanban-list-logo-container {
		text-align: center;
		height: 42px;
		width: 48px;
		display: flex;
	  align-items: center;
  	justify-content: center;

		img.kanban-list-logo {
			width: 94%;
			text-align: center;
			display: inline-block;
			position: relative;
    	top: 2px;
		}

		.kanban-list-content {
			position: absolute;
			bottom: 0;
			height: 32px;
			width: 100%;
			border-top: solid 1px #d3d3d3;
			background-color: white;
			padding: 2px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			line-height: 100%;
			z-index: 2;
			left: 0;
			
			&:after, &:before {
				bottom: 100%;
				left: 24%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: white;
				border-width: 4px;
				margin-left: -6px;
			}
			&:before {
				border-color: rgba(194, 225, 245, 0);
				border-bottom-color: #d3d3d3;
				border-width: 5px;
				margin-left: -7px;
			}

			label {
				font-family: @primary-font;
				font-size: 10px;
  			font-weight: 600;
  			color: #6c6c6c;
				margin: 0;
			}

			.badges-row {
				min-height: 7px;
			}
		}
	}
}

#kanban-table {
	border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #dadada;
	
	thead {
		h3 {
			font-family: @secondary-font;
			font-size: 13px;
			color: #1e2229;
			font-weight: bold;

			span {
				font-weight: normal;
  			color: #999999;
			}
		}

		th {
			border-bottom: 1px solid #d0d3d4;
    	border-right: none;
    	border-left: none;
		}
	}

	tbody {
		tr, td { height: 100%; }

		h4 {
			font-family: @primary-font;
			font-size: 12px;
			padding-left: 10px;
		}

		td {
			height: 1px;
			padding: 0;
			padding-top: 5px;
		}

		.no-border-right { border-right: none; }
		.no-border-left { border-left: none; }
	}
}


.popover.right > .arrow {
	top: 28px;
  left: -8px;
  border-width: 4px;
	border-right-color: #3dd0ac;

	&:after {
		content: " ";
    left: -5px;
    bottom: -24px;
    border-left-width: 0;
    border-right-color: #3dd0ac;
	}
}

.kanban {
	padding: 0;
	min-width: 342px !important;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
	border: solid 1px #dadada;

	.popover-content {
		padding: 0;

		.kbp {
			.kbp-heading {
				padding: 12px;
    		height: 47px;
				background-color: #3dd0ac;
			
				h4 {
					margin: 0;
					line-height: 20px;

					a {
						font-family: @secondary-font;
						font-size: 10px;
						font-weight: 600;
						color: #ffffff;
						text-decoration: underline;

						&:hover {
							color: #d0d3d4;
						}
					}
				}

				span {
					font-family: @secondary-font;
					font-size: 10px;
					font-weight: 600;
					color: white;

					b {
						font-size: 12px;
					}
				}
			}

			.kbp-content {
				&.scrollable {
					max-height: 200px;
					overflow: auto;
				}

				padding: 15px; 
				border-bottom: 1px solid #f3f3f3;
				font-family: @primary-font;
				font-size: 10px;
				color: #999;

				span {
					display: block;
				}

				ul {
					list-style: none;
    			margin-left: 0;
    			padding-left: 0;
				}

				label {
					font-family: @secondary-font;
					font-size: 10px;
					font-weight: 600;
					color: #1e2229;
					margin: 0;
					display: block;
				}

				.stage {
					padding: 7px 0;

					&:after {
						content: "";
  					display: table;
  					clear: both;
					}
				}

				.number-tag {
  				font-family: @primary-font;
  				font-size: 25px;
  				color: #fc4c02;
					display: block;
				}

				.kbp-content-50 {
					float: left;
					width: 50%;

					&.right {
						padding-left: 35px;
					}
				}
			}
		}
	}
}
