@import "./overview/style";
@import "./technical-competency/style";
@import "./magellan/style";
@import "./expansion-rating/style";

.customers-detail {
  &__main {
    margin-top: (@line-height-computed / 2);
    margin-bottom: @line-height-computed * 1.5;
  }
}

.statusRow {
	margin-bottom: 10px;
}

.headerDivider {
	margin-top: 5px;
}

.quickInfoGrid {
  .ui-grid-pager-row-count-label { display: none; }
  .ui-grid-pager-count { display: none; }
}

#details-container {
  .page-header {
    margin-bottom: 0;
  }
}

.tech-btn {
	position: absolute !important;
	right: 0;
}