ts-sidenav {
	left: -30px;
}

.sidenav {
	position:fixed;
	margin-top: 50px;		

	ul {
		padding-right: 20px;
		border-right: #E8E8E8 1px solid;
	}

	li {
		margin-bottom: 10px;
		a:hover {
			background-color: #FFFFFF;			
		}
	}

	li.selected {
		margin-left: 5px;

		a {
			background-color: #FFFFFF;			
		}
	}
}

.sidenav, .customers-detail__tabs {
	li > a, li.active > a {
		color: #EE5425;
	}

	li.active {
		font-weight: 500;
		font-size: 16px;		
	}
}

.customers-detail__tabs.row {
	display: none;
}

@media (max-width: @screen-md-max) { 
	ts-sidenav {
		left: -20px;
	}
}

@media (max-width: @grid-float-breakpoint) { 
	ts-sidenav {
		.sidenav {
			position: relative;
			ul {
				border-right: none;
			}
		}		
	}
}