.grid-card-container {
  overflow: auto;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 10px;
}

.ui-grid-header-viewport.scrollable {
  height: 53px;
  overflow-x: auto !important;

  &::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0); 
    background-color: white; 
  }

  &::-webkit-scrollbar { height: 6px; background-color: white; }
  &::-webkit-scrollbar-thumb { background-color: #C1C1C1; }
}

.ui-grid-pager-panel { border-top: 1px solid #D4D4D4; }

.ui-grid-render-container { z-index: 2; }

.card-toggle-link {
  position: absolute;
  top: 0;
  z-index: 4;
}

.grid-card-container {
  .grid-card-space { margin-bottom: 10px; }

  .row { margin-left: -6px; margin-right: -6px; }

  .ui-grid-cell-contents {
    padding: 0;
    padding-left: 0px !important;
    font-size: 11px !important;
    overflow: hidden;
    display: inline-block;
    width: 100%;
  }
  
  label {
    position: absolute;
    font-size: 7px;
    color: black;
    -webkit-font-smoothing: antialiased;
  }

  .grid-card {
    border: 1px solid #D4D4D4;
    border-radius: 2px;
    background-color: white;
    padding: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #d3d3d3;

    .account_name { height: 25px; }

    .logo-container {
      padding: 3px;

      .card-logo {
        display: flex;
        align-items: center;
        height: 100%;

        img { width: 100%; }
      }
    }

    h4 {
      margin: 0;
      height: 100%;

      a {
        line-height: 29px;
        vertical-align: bottom;
        display: inline-block;
        height: 100%;
        font-weight: bold;
        font-family: @secondary-font;
        font-size: 15px !important;
      }
    }

    div {
      font-family: @secondary-font;
      font-size: 12px;
      height: 37px;

      &.tsStatus {
        width: 1em;
        height: 1em;
        position: relative;
        top: 11px;
        left: 9px;
      }

      &.double-card { height: 104px; overflow: hidden; }
    }
  }
}

.cards-placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #d9d9d9;
  height: 60px;
  line-height: 48px;
}
