ts-check {
  span {
    font-size: 16px;
    line-height: 0;

    position: relative;
    top: 3px;

    // hide inner status text
    span {
      display: none;
    }
  }
}

.tsCheck-checked {
}

.tsCheck-unchecked {
  color: @gray-lighter;
}
