<div class="tsCheck-{{ tsChecked() ? 'checked' : 'unchecked'}}">
    <span class="glyphicon glyphicon-{{ tsChecked() ? 'check' : 'unchecked'}}">
        <span>{{ tsChecked() ? '✓' : '✗' }}</span>
    </span>
</div>
