body {
  .page-header + .content {
    // padding: 0 15px;

    @media @desktop {
      overflow: hidden;
    }
  }

  .flex-container {
    .page-header + .content {
      .col-xs-12, .col-sm-12 {
        //padding: 0;
      }

      @media @md-and-up {
        [class*='col-'] {
          padding-left: 0;
          padding-right: 10px;

          &:last-child {
            padding-right: 0px;
          }
        }
      }
    }
  }

  &.flex {
    display: flex;
    flex-direction: column;

    .container {
      flex: 1;
    }

    .row {
      display: flex;
      flex-direction: row;
      // height: 100%;
      // > * {
      //   width: 100%;
      // }
    }
  }
}
